@import "tailwindcss";

:root {
  /* Light theme (default) */
  --background: #fcfcfc;
  --foreground: #111111;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cobalt-500: var(--color-cobalt-500);
  --color-cobalt-600: var(--color-cobalt-600);

  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}

/* Custom Scrollbar */
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}